# pandas tutorial

### tutorial 1 - Import

In [1]:
import pandas as pd

### tutorial 2 - About DataFrame
以下の表を作成

|   | 0 | 1 | 2 |
|---|---|---|---|
| 0 | 1 | 2 | 3 |
| 1 | 4 | 5 | 6 |

In [4]:
df = pd.DataFrame([[1, 2, 3], [4, 5, 6]])
print(df)

   0  1  2
0  1  2  3
1  4  5  6

### tutorial 3 - Python Data Format to DataFrame
 + list (ndarray) # tutorial 2
 + dict (ndarray)

以下の表をlistとndarrayを使用して作成

|   | a | b | c |
|---|---|---|---|
| 0 | 1 | 2 | 3 |
| 1 | 4 | 5 | 6 |

In [5]:
df1 = pd.DataFrame({
    'a': [1, 4],
    'b': [2, 5],
    'c': [3, 6]
})
print(df1)

   a  b  c
0  1  2  3
1  4  5  6

In [6]:
import numpy as np
df2 = pd.DataFrame([[1, 2, 3], [4, 5, 6]], columns=['a', 'b', 'c'])
print(df2)

   a  b  c
0  1  2  3
1  4  5  6

### tutorial 4 - Check types
turorial 3 のDataFrameの型を調べる

In [7]:
df1.dtypes

a    int64
b    int64
c    int64
dtype: object

### tutorial 5 - Convert ndarray
turorail 3のDataFrameのデータをnumpy配列に変換する

In [8]:
df1.values

array([[1, 2, 3],
       [4, 5, 6]])

### tutorial 6 - DataFrame Access (col)

In [11]:
print(df1)
print("a列")
print(df1['a'])

   a  b  c
0  1  2  3
1  4  5  6
a列
0    1
1    4
Name: a, dtype: int64

### tutorial 7 - DataFrame Access (row)

In [12]:
print(df1)
print(df1.loc[0])

   a  b  c
0  1  2  3
1  4  5  6
a    1
b    2
c    3
Name: 0, dtype: int64

### tutorial 8 - DataFrame Access (row & col)

In [14]:
print(df1)
print(df1["a"].loc[0])

   a  b  c
0  1  2  3
1  4  5  6
1

### tutorial 9 - read from CSV

In [16]:
df = pd.read_csv('sake.csv')
print(df)

      code   meigara          kana  kuramoto   ken      shi  \
0     1235        京極         きょうごく     二世古酒造   北海道      虻田郡
1     1234       二世古           にせこ     二世古酒造   北海道      虻田郡
2     1447       雪の花         ゆきのはな     雪の花酒造   北海道      小樽市
3     1446       小樽港         おたるこう     雪の花酒造   北海道      小樽市
4     2881        鬼丸          おにまる      田中酒造   北海道      小樽市
5     2882       飲ん米         のんべぇい      田中酒造   北海道      小樽市
6     2979        美苫           びせん      田中酒造   北海道      小樽市
7     3193    カムイトノト        かむいとのと      田中酒造   北海道      小樽市
8     3194       亀甲蔵        きっこうぐら      田中酒造   北海道      小樽市
9     3198      十勝晴れ         とかちばれ      田中酒造   北海道      小樽市
10    1236        宝川         たからがわ      田中酒造   北海道      小樽市
11    1448        北宝           NaN    山二わたなべ   北海道      小樽市
12    1710      小樽の女        おたるのひと    山二わたなべ   北海道      小樽市
13    1449      熊古露里         くまころり    山二わたなべ   北海道      小樽市
14    1709       雪中花        せっちゅうか    山二わたなべ   北海道      小樽市
15    3235       北世界         きたせかい      日本清酒   北海道      札幌市
16    2758        柴田           しばた      日本清酒   北海道      札幌市
17    2759     與次右衛門        よじうえもん      日本清酒   北海道      札幌市
18    2904       十一州      じゅういっしゅう      日本清酒   北海道      札幌市
19       5       千歳鶴         ちとせつる      日本清酒   北海道      札幌市
20    1892       冬花火         ふゆはなび      小林酒造   北海道      夕張郡
21       6       北の錦        きたのにしき      小林酒造   北海道      夕張郡
22    1891      北斗随想       ほくとずいそう      小林酒造   北海道      夕張郡
23    2804      気まぐれ          きまぐれ      高砂酒造   北海道      旭川市
24     150   雪氷室 一夜雫  ゆきひむろ いちやしずく      高砂酒造   北海道      旭川市
25    3195     ゆきわらべ         ゆきわらべ      高砂酒造   北海道      旭川市
26    3196       北吹雪         きたふぶき      高砂酒造   北海道      旭川市
27    2693        大雪          たいせつ      高砂酒造   北海道      旭川市
28       3      国士無双        こくしむそう      高砂酒造   北海道      旭川市
29       2        金滴          きんてき      金滴酒造   北海道      樺戸郡
...    ...       ...           ...       ...   ...      ...
3650   319        丹誠          たんせい      丹誠酒類   大分県    豊後大野市
3651   305        香露           こうろ  熊本県酒造研究所   熊本県      熊本市
3652  3617       産山村        うぶやまむら    千代の園酒造   熊本県      山鹿市
3653   307        朱盃          しゅはい    千代の園酒造   熊本県      山鹿市
3654  3002        泰斗           たいと    千代の園酒造   熊本県      山鹿市
3655   306      千代の園         ちよのその    千代の園酒造   熊本県      山鹿市
3656  2019       花の香          はなのか     花の香酒造   熊本県      玉名郡
3657  3001  HANANOKA          はなのか     花の香酒造   熊本県      玉名郡
3658  2622       菊の城         きくのしろ     菊の城本舗   熊本県      菊池市
3659   304       美少年        びしょうねん       美少年   熊本県      菊池市
3660  3217    蟬 SEMI            せみ      通潤酒造   熊本県     上益城郡
3661  2994        蛍丸         ほたるまる      通潤酒造   熊本県     上益城郡
3662  2995        雲雀           ひばり      通潤酒造   熊本県     上益城郡
3663  2996   Soigner          そわにえ      通潤酒造   熊本県     上益城郡
3664  2624        通潤         つうじゅん      通潤酒造   熊本県     上益城郡
3665  3543        崇薫          すうくん      瑞鷹酒造   熊本県      熊本市
3666  3544        菜々          さいさい      瑞鷹酒造   熊本県      熊本市
3667   303        瑞鷹          ずいよう      瑞鷹酒造   熊本県      熊本市
3668   308      れいざん          れいざん      山村酒造   熊本県      阿蘇郡
3669  2623     和田志ら露        わだしらつゆ      室原酒造   熊本県      阿蘇郡
3670   310        玉滴         たましずく      河津酒造   熊本県      阿蘇郡
3671   309        蓬莱          ほうらい      河津酒造   熊本県      阿蘇郡
3672  2997      しゅわり          しゅわり      亀萬酒造   熊本県      葦北郡
3673   311        亀萬          かめまん      亀萬酒造   熊本県      葦北郡
3674  1706        綾錦         あやにしき      雲海酒造   宮崎県      宮崎市
3675  2657        我楽           がらく      雲海酒造   宮崎県      宮崎市
3676   323     夢の中まで       ゆめのなかまで      千徳酒造   宮崎県      延岡市
3677   322        千徳          せんとく      千徳酒造   宮崎県      延岡市
3678  2658      薩州正宗     さっしゅうまさむね  濱田酒造 金山蔵  鹿児島県  いちき串木野市
3679   324        黎明          れいめい      泰石酒造   沖縄県     うるま市

                    address
0             北海道虻田郡倶知安町旭47
1             北海道虻田郡倶知安町旭47
2                    北海道小樽市
3                    北海道小樽市
4             北海道小樽市色内3-2-5
5             北海道小樽市色内3-2-5
6             北海道小樽市色内3-2-5
7             北海道小樽市色内3-2-5
8             北海道小樽市色内3-2-5
9             北海道小樽市色内3-2-5
10            北海道小樽市色内3-2-5
11                   北海道小樽市
12                   北海道小樽市
13                   北海道小樽市
14                   北海道小樽市
15         北海道札幌市中央区南三条東5-2
16         北海道札幌市中央区南三条東5-2
17         北海道札幌市中央区南三条東5-2
18         北海道札幌市中央区南三条東5-2
19         北海道札幌市中央区南三条東5-2
20          北海道夕張郡栗山町錦3-109
21          北海道夕張郡栗山町錦3-109
22          北海道夕張郡栗山町錦3-109
23              北海道旭川市宮下通17
24              北海道旭川市宮下通17
25              北海道旭川市宮下通17
26              北海道旭川市宮下通17
27              北海道旭川市宮下通17
28              北海道旭川市宮下通17
29        北海道樺戸郡新十津川町中央71-7
...                     ...
3650      大分県豊後大野市緒方町下自在519
3651         熊本県熊本市島崎1-7-20
3652           熊本県山鹿市山鹿1782
3653           熊本県山鹿市山鹿1782
3654           熊本県山鹿市山鹿1782
3655           熊本県山鹿市山鹿1782
3656     熊本県玉名郡和水町西吉地2226-2
3657     熊本県玉名郡和水町西吉地2226-2
3658             熊本県菊池市隈府95
3659     熊本県菊池市四町分免兎原1030番地
3660         熊本県上益城郡山都町浜町54
3661         熊本県上益城郡山都町浜町54
3662         熊本県上益城郡山都町浜町54
3663         熊本県上益城郡山都町浜町54
3664         熊本県上益城郡山都町浜町54
3665         熊本県熊本市川尻4-6-67
3666         熊本県熊本市川尻4-6-67
3667         熊本県熊本市川尻4-6-67
3668        熊本県阿蘇郡高森町高森1645
3669      熊本県阿蘇郡南小国町赤馬場1862
3670      熊本県阿蘇郡小国町宮原1734-2
3671      熊本県阿蘇郡小国町宮原1734-2
3672      熊本県葦北郡津奈木町津奈木1192
3673      熊本県葦北郡津奈木町津奈木1192
3674          宮崎県宮崎市昭栄町45-1
3675          宮崎県宮崎市昭栄町45-1
3676         宮崎県延岡市大瀬町2-1-8
3677         宮崎県延岡市大瀬町2-1-8
3678  鹿児島県金山蔵〒896-0073 鹿児島県
3679           沖縄県うるま市平良川90

[3680 rows x 7 columns]

### tutorial 10 - compute statistics

以下の表のa,b,c列について、個数, 平均, 最小, 最大, 分散を計算する

|   | a | b | c |
|---|---|---|---|
| 0 | 1 | 2 | 3 |
| 1 | 4 | 5 | 6 |

In [17]:
print(df1)
describe = df1.describe()
print(describe)

   a  b  c
0  1  2  3
1  4  5  6
             a        b        c
count  2.00000  2.00000  2.00000
mean   2.50000  3.50000  4.50000
std    2.12132  2.12132  2.12132
min    1.00000  2.00000  3.00000
25%    1.75000  2.75000  3.75000
50%    2.50000  3.50000  4.50000
75%    3.25000  4.25000  5.25000
max    4.00000  5.00000  6.00000